<%- include('../partials/head') %>
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">
  <%- include('../partials/nav') %>

  <div class="flex flex-grow items-center justify-center">
    <div class="text-center">
      <h1 class="text-6xl font-bold text-blue-600">404</h1>
      <p class="text-xl text-gray-700 mt-4">Oops! The page you're looking for doesn't exist.</p>
      <a href="/" class="mt-6 inline-block bg-blue-600 text-white px-6 py-3 rounded-lg text-lg hover:bg-blue-700 transition">
        Go to Homepage
      </a>
    </div>
  </div>
</body>
</html>
